#logo {
  background-color: red;
}

.carousel-inner > .carousel-item > img {
  width: 100%;
  height: 550px;
}

#carousel_wastes {
  background-color: black;
}

#carousel_wastes2 > .carousel-item > img {
  width: 45%;
  height: 200px;
}


#test {
  background-color: blue;
}

#test2 {
  background-color: palevioletred;
}

#test3 {
  background-color:paleturquoise;
}



