#Waste_Types_Carousel {
  background-color: black;
}

#carousel {
  background-color: beige;
}

#carousel3 {
  background-color: palevioletred;
  height: 500px;
}

#test {
  background-color: blue;
}

#test2 {
  background-color: red;
}

#test3 {
  background-color: green;
}
